{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- <link rel="stylesheet" href="static/css/insta.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/insta.css' %}">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="instalogo">
                <a href="Home.html"><i class="fab fa-instagram"></i> </a>
                <a class="vl"></a>
                <a href="">Instagram</a>
            </div>
            <div class="search_bar">
                <input type="text" placeholder="Search">
                <a href="search"><i class="fas fa-search"></i></a>
            </div>
            <div class="contact_icons">
                 <a href="likes"> <i class="far fa-heart"></i> </a>
                 {% if user.is_authenticated %}
                 <a href="{% url 'logout' %} ">logout</a>
                 <a href="{% url 'post_create' %} ">create post</a>
                 {%  else %}
                 <a href="{% url 'login' %} ">login</a>
                 <a href="{% url 'users-register' %} "><i class="far fa-user"></i> </a>
                {% endif %}

             </div>
        </div>
    </header>
    <div class="content-container">
        {% block content %}
        {%endblock%}
 

    </div>
</body>
</html>